/*css*/

:root {
    --MainColor: rgb(100, 0, 100);
    --SecondayColor: rgb(215,215,215);
    --TersiaryColor: rgb(250,250,250);
    --4thcolor: rgb(235,235,235);
    --TextColor: rgb(45,45,45);
}

html {
    width: 100%;
}

body {
    width: 90%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.FooterText {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none!important;
    color: var(--TextColor);
    background-color: none;
    margin: 10px;
    transition: margin 0.7s ease, background-color 0.3s ease;

    border-radius: 10px 30px;
    border: none;
    padding: 15px;
}

.FooterDiv {
    border-radius: 10px 65px;
    border: none;
    border-left: 2px solid var(--MainColor);
    border-bottom: 2px solid var(--MainColor);
    
    padding: 10px;
    background-color: var(--4thcolor);
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.FooterText:hover {
    margin: 10px 30px;
    background-color: black;
}

/*header*/

.MainHeader {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 150px;

    filter: drop-shadow(0px 0px 10px black);

    transition: filter 0.3s ease;
}

img.MainHeader:hover {
    filter: drop-shadow(0px 0px 25px black);
}
/*Links*/

 a:link {
    color: var(--TextColor);
    text-decoration: none;
  }
  
  a:visited {
    color: var(--TextColor);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--TextColor);
    text-decoration: none;
  }
  
  a:active {
    color: var(--TextColor);
    text-decoration: none;
  } 


/*Navigation bar*/

.NavBar {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-evenly;

    background-color: var(--SecondayColor);
    
    border-radius: 10px 30px;
    border: none;
    border-left: 2px solid var(--MainColor);
    border-bottom: 2px solid var(--MainColor);
    height: fit-content;
}

.NavItem {
    display: inline-block;
    color: var(--TextColor);
    text-align: center;

    border-radius: 10px 30px;
    border: none;
    
    color: var(--TextColor);
    text-decoration: none;
    margin: 10px;
}

.NavLink {
    transition: background-color 0.3s, margin 0.7s;
    padding: 10px 45px;
    margin: 15px;
    width: 100%;
    background-color: var(--SecondayColor);

    border-radius: 10px 65px;
    border: none;
    overflow: visible;
}

.NavLink:hover {
    margin: 15px 50px;
    background-color: Black;
}

#Active {
    background-color: var(--MainColor);
}

/*body*/

body {
    background-color: var(--TersiaryColor);
    background-image: linear-gradient( var(--SecondayColor), var(--TersiaryColor), black);
    color: var(--TextColor);
}

/*Responsive gallery*/

.GalleryDiv {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    overflow: visible;
    margin: auto;
    margin-bottom: 40px;
    padding: 0;
    width: 85%;

    display: flex;
    justify-content: space-evenly;

    background-color: var(--4thcolor);
    
    border-radius: 10px 100px;
    border: none;
    border-left: 2px solid var(--MainColor);
    border-bottom: 2px solid var(--MainColor);

}

.responsive:hover {
    transform: rotate(-5deg);
    width: 30%;
}

.responsive {
    padding: 0 6px;
    margin: 2%;
    float: left;
    width: 26%;
    transition: transform 1.3s ease, width 1s ease;
  }

div.gallery {
    background-color: var(--TersiaryColor);

    border-radius: 10px 100px;
    border: 2px solid var(--SecondayColor);
  }
  
  div.gallery img {
    width: 100%;
    height: 100%;

    border-radius: 10px 100px;
    border: 2px solid var(--SecondayColor);
    overflow: hidden;
  }
  
  div.desc {
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
    color: var(--TextColor);
  }
  
  * {
    box-sizing: border-box;
  }

/*CharactersV2 page */

#CharacterDiv2IGuess {
    display: flex;
    justify-content: center;
    
}

.CharacterDiv {
    display: block;

    transition: 1s ease;
}

.CharacterDiv:hover {
    filter: drop-shadow(0px 0px 10px white);
    
}


.KnightsDivText, .VikingsDivText, .SamuraiDivText, .WuLinDivText {
    display: none;
}

#KnightsDiv:hover + .KnightsDivText {
    display: block;
}

#VikingsDiv:hover + .VikingsDivText {
    display: block;
}

#SamuraiDiv:hover + .SamuraiDivText {
    display: block;
}

#WuLinDiv:hover + .WuLinDivText {
    display: block;
}

/*Steam reviews*/

  .SteamReviewsImage {
      width: 50%;
      overflow: hidden;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
  }

  .SteamIFrame {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 99%;
      height: 700px;
  }

/*Form*/

.FormTag {
    background-color: var(--4thcolor);
}

.FormRow {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: block;
    padding: 1%;

    border-radius: 10px 65px;
    border: none;
    border: 2px solid var(--MainColor);

    outline: none;
}

.FormRow label {
    padding: 20px;
    padding-left: 0px;
    margin-left: 0px;
}


/*Form inputs*/

.FormRow input[type="text"]{
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 10px;

    border-radius: 10px;
    border: none;
    border: 2px solid var(--MainColor);
}

.FormRow input[type="email"] {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 10px;

    border-radius: 10px;
    border: none;
    border: 2px solid var(--MainColor);
}

.FormRow select {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 30px;

    border-radius: 15px;
    border: none;
    border: 2px solid var(--MainColor);
}

.FormRow textarea {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 10px;
    resize: none;
    width: 85%;
    min-height: 150px;

    border-radius: 10px;
    border: none;
    border: 2px solid var(--MainColor);
}

.TextAreaInstructions {
    color: rgb(150 , 150, 150);
    font-size: 70%;
    margin-left: 10px;
}

#TextAreaWhyText {
    margin-right: 13%;
}

.FormRow button {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 10px;

    border-radius: 10px;
    border: none;
    border: 2px solid var(--MainColor);
}

.SubmitButton {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    padding-left: 0px;
    margin: 10px;
}

.SubmitButton:hover {
    background-color: black;
}

.ConfirmButton {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    border: 2px solid var(--MainColor);
}

#WhyWontThisThingListenToMeJustHaveTheCorrectF_ckingMarginThankYou {
    margin-left: 10px;
}

/*Misc*/

.StandardText{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--TextColor);
    /*display: inline-block;*/
    float: left;
    width: 100%;
}

.StandardDiv {
    border-radius: 10px 65px;
    border: none;
    border-left: 2px solid var(--MainColor);
    border-bottom: 2px solid var(--MainColor);
    
    list-style-type: none;
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--4thcolor);
    text-align: centre;
    display: table;
    width: 85%;
}


