/*css*/

:root {
    --MainColor: rgb(100, 0, 100);
    --SecondayColor: rgb(40, 40, 40);
    --TersiaryColor: rgb(5, 5, 5);
    --4thcolor: rgb(20, 20, 20);
    --TextColor: rgb(210, 210, 210);
}

html {
    width: 100%;
}

body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.FooterText {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none!important;
    color: var(--TextColor);
    background-color: none;
    margin: 10px;
    transition: margin 0.7s ease, background-color 0.3s ease;

    border-radius: 10px 30px;
    border: none;
    padding: 15px;
}

.FooterDiv {
    border-radius: 10px 65px;
    border: none;
    border-left: 2px solid var(--MainColor);
    border-bottom: 2px solid var(--MainColor);
    
    padding: 10px;
    background-color: var(--4thcolor);
    text-align: centre;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.FooterText:hover {
    margin: 10px 30px;
    background-color: black;
}

/*header*/

.MainHeader {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 150px;

    filter: drop-shadow(0px 0px 10px black);

    transition: filter 0.3s ease;
}

.MainHeader:hover {
    filter: drop-shadow(0px 0px 20px black);;
}
/*Links*/

 a:link {
    color: var(--TextColor);
    text-decoration: none;
  }
  
  a:visited {
    color: var(--TextColor);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--TextColor);
    text-decoration: none;
  }
  
  a:active {
    color: var(--TextColor);
    text-decoration: none;
  } 


/*Navigation bar*/

.NavBar {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-evenly;

    background-color: var(--SecondayColor);
    
    border-radius: 10px 30px;
    border: none;
    border-left: 2px solid var(--MainColor);
    border-bottom: 2px solid var(--MainColor);
}

.NavItem {
    display: inline-block;
    color: var(--TextColor);
    padding: 15px;
}

.NavLink:hover {
    background-color: Black;
    margin: 15px 25px;

    border-radius: 10px 30px;
    border: none;
}

.NavLink {
    transition: background-color 0.3s, margin 0.7s;
    background-color: var(--SecondayColor);
    width: 100%;

    padding: 15px;
    color: var(--TextColor);
    text-decoration: none;

    border-radius: 10px 30px;
    border: none;
}

#Active {
    background-color: var(--MainColor);

    border-radius: 10px 30px;
    border: none;
}

/*body*/

body {
    background-color: var(--TersiaryColor);
    background-image: linear-gradient( var(--SecondayColor), var(--TersiaryColor), black);
    color: var(--TextColor);
}

/*Responsive gallery*/

@keyframes GalleryAnimation {
    0% { transform : rotate(0deg) }
    100% { transform : rotate(360deg) }
}

.responsive:hover {
    animation: GalleryAnimation 1.5s ease;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.9%;
  }

div.gallery {
    background-color: var(--TersiaryColor);

    border-radius: 10px 65px;
    border: none;
    border: 2px solid var(--SecondayColor);
  }
  
  div.gallery:hover {
    border-radius: 10px 65px;
    border: none;
    border: 2px solid var(--MainColor);
  }
  
  div.gallery img {
    width: 100%;
    height: 100%;

    border-radius: 10px 65px;
    border: none;
  }
  
  div.desc {
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
    color: var(--TextColor);
  }
  
  * {
    box-sizing: border-box;
  }
  
  

/*Steam reviews*/

  .SteamReviewsImage {
      width: 50%;
      overflow: hidden;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
  }

  .SteamIFrame {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 99%;
      height: 700px;
  }

/*Form*/

.FormTag {
    background-color: var(--4thcolor);
}

.FormRow {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: block;
    padding: 1%;

    border-radius: 10px 65px;
    border: none;
    border: 2px solid var(--MainColor);
}

.FormRow label {
    padding: 20px;
    padding-left: 0px;
    margin-left: 0px;
}


/*Form inputs*/

.FormRow input[type="text"]{
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 10px;

    border-radius: 10px;
    border: none;
    border: 2px solid var(--MainColor);
}

.FormRow input[type="email"] {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 10px;

    border-radius: 10px;
    border: none;
    border: 2px solid var(--MainColor);
}

.FormRow select {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 30px;

    border-radius: 15px;
    border: none;
    border: 2px solid var(--MainColor);
}

.FormRow textarea {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 10px;
    resize: none;
    width: 85%;
    min-height: 150px;

    border-radius: 10px;
    border: none;
    border: 2px solid var(--MainColor);
}

.TextAreaInstructions {
    color: rgb(150 , 150, 150);
    font-size: 70%;
    margin-left: 10px;
}

#TextAreaWhyText {
    margin-right: 13%;
}

.FormRow button {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 10px;

    border-radius: 10px;
    border: none;
    border: 2px solid var(--MainColor);
}

.SubmitButton {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    padding-left: 0px;
    margin: 10px;
}

.SubmitButton:hover {
    background-color: black;
}

.ConfirmButton {
    background-color: var(--SecondayColor);
    color: var(--TextColor);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    border: 2px solid var(--MainColor);
}

#WhyWontThisThingListenToMeJustHaveTheCorrectF_ckingMarginThankYou {
    margin-left: 10px;
}

/*Misc*/

.StandardText{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--TextColor);
    /*display: inline-block;*/
    float: left;
    width: 100%;
}

.StandardDiv {
    border-radius: 10px 65px;
    border: none;
    border-left: 2px solid var(--MainColor);
    border-bottom: 2px solid var(--MainColor);
    
    list-style-type: none;
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--4thcolor);
    text-align: centre;
    display: table;
    width: 85%;
}


