:root {

}

html {
    width: 100%;
    
}

body {
    width: 90%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.FooterText {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none!important;
    color: var(--TextColor);
    background-color: none;
    margin: 10px;
    transition: margin 0.7s ease, background-color 0.3s ease;

    border-radius: 10px 30px;
    border: none;
    padding: 15px;
}

.FooterDiv {
    border-radius: 10px 65px;
    border: none;
    border-left: 2px solid var(--MainColor);
    border-bottom: 2px solid var(--MainColor);
    
    padding: 10px;
    background-color: var(--4thcolor);
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.FooterText:hover {
    margin: 10px 30px;
}

/*header*/

.MainHeader {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 150px;


}

/*Links*/

 a:link {
    color: var(--TextColor);
    text-decoration: none;
  }
  
  a:visited {
    color: var(--TextColor);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--TextColor);
    text-decoration: none;
  }
  
  a:active {
    color: var(--TextColor);
    text-decoration: none;
  } 


/*Navigation bar*/

.NavBar {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-evenly;

    background-color: var(--SecondayColor);
    
    border-radius: 10px 30px;
    border: none;
    border-left: 2px solid var(--MainColor);
    border-bottom: 2px solid var(--MainColor);
    height: fit-content;
}

.NavItem {
    transition: margin 1s ease;

    display: inline-block;
    color: var(--TextColor);
    text-align: center;

    border-radius: 10px 30px;
    border: none;
    
    color: var(--TextColor);
    text-decoration: none;
    margin: 15px;
}

.NavItem:hover {
    margin: 15px 50px;
}

.NavLink {
    

    padding: 10px 45px;
    margin: 15px;
    width: 100%;

    border-radius: 10px 65px;
    border: none;
    overflow: visible;
}

/*body*/


/*Responsive gallery*/

.GalleryDiv {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    overflow: visible;
    margin: auto;
    margin-bottom: 40px;
    padding: 0;
    width: 85%;

    display: flex;
    justify-content: space-evenly;

    
    
    border-radius: 10px 100px;
    border: none;
    

}

.responsive:hover {
    transform: rotate(-5deg);
    width: 30%;
}

.responsive {
    padding: 0 6px;
    margin: 2%;
    float: left;
    width: 26%;
    transition: transform 1.3s ease, width 1s ease;
  }

div.gallery {
    border-radius: 10px 100px;
  }
  
  div.gallery img {
    width: 100%;
    height: 100%;

    border-radius: 10px 100px;
    
    overflow: hidden;
  }
  
  div.desc {
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
    
  }
  
  * {
    box-sizing: border-box;
  }

/*CharactersV2 page */

#CharacterDiv2IGuess {
    display: flex;
    justify-content: center;
    overflow-wrap: scroll;
}

.CharacterDiv {
    display: block;
}

#KnightsDivText, #VikingsDivText, #SamuraiDivText, #WuLinDivText{
    display: none;
    
    transition: all 3s ease;
    overflow: hidden;
}

.CV2DivText {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--TextColor);

    
} 

#CV2DivTextDiv {
    overflow: scroll;
    height: 102px;

    transition: height 0.2s ease!important;
    overflow: hidden;
}

#KnightsDivImage,  #VikingsDivImage, #SamuraiDivImage, #WuLinDivImage{
    transition: all 0.3s ease;
}

/*Steam reviews*/

.SteamReviewsImage {
    width: 50%;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.SteamIFrame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: 700px;
}

/*Form*/

.FormRow {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: block;
    padding: 1%;

    border-radius: 10px 65px;
    border: none;

    outline: none;
}

.FormRow label {
    padding: 20px;
    padding-left: 0px;
    margin-left: 0px;
}


/*Form inputs*/

.FormRow input[type="text"]{
    padding: 7px;
    margin: 10px;

    border-radius: 10px;
    border: none;
}

.FormRow input[type="email"] {
    padding: 7px;
    margin: 10px;

    border-radius: 10px;
    border: none;
}

.FormRow select {
    padding: 7px;
    margin: 30px;

    border-radius: 15px;
    border: none;
}

.FormRow textarea {
    padding: 7px;
    margin: 10px;
    resize: none;
    width: 85%;
    min-height: 150px;

    border-radius: 10px;
    border: none;
}

.TextAreaInstructions {
    font-size: 70%;
    margin-left: 10px;
}

#TextAreaWhyText {
    margin-right: 13%;
}

.FormRow button {
    padding: 7px;
    margin: 10px;

    border-radius: 10px;
    border: none;
}

.SubmitButton {
    padding: 7px;
    padding-left: 0px;
    margin: 10px;
}

.ConfirmButton {
    padding: 7px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}

#WhyWontThisThingListenToMeJustHaveTheCorrectF_ckingMarginThankYou {
    margin-left: 10px;
}

/*Misc*/

.StandardText{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--TextColor);

    float: left;
    width: 100%;
}

.StandardDiv {
    border-radius: 10px 65px;
    border: none;
    
    list-style-type: none;
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    text-align: centre;
    display: table;
    width: 85%;
}

/* Color switcher */ 

.SwitchButton {
    font-size: 16px;
}